.jumbotron{
    background-color: rgb(1, 0, 88);
    color: white;
    margin-top: 50px
}
footer{
    background-color: rgb(146, 221, 221);
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 20px;
}
.card-hotel{
    flex: 1 150px;
    /* padding: 2px 5px; */
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0%;
}
.btn-reserva span{
    padding-right: 2px;
}
.footer-icon{
    padding-right: 10px;
}
.stars{
    min-width: 125px;
}
#landing-img{
    width: 100%;
    max-height: 250px;
}
.card-img-top{
    width: 100%;
    height: 150px;
}
.card-footer{
    padding:0px
}